@use '../global' as *;
/* stylelint-disable */

html{
	font-family: Sofia Pro;
}
.header {
	background-color: $main-bg;
	padding: 5rem 0;
	.logo {
		height: auto;
		width: 10rem;
	}
	#header-menu {
		display: flex;
		justify-content: space-between;
	}

	&-container {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
	li{
		margin-left: 1.5rem;
	}

	a {
		font-size: 1.7rem;
		color: #000;
		font-family: Sofia Pro;
	}
}

