@use '../global' as *;
/* stylelint-disable */

html{
	font-family: Sofia Pro;
}
.header {
	.logo {
		height: auto;
		width: 5rem;
	}
	#header-menu {
		display: flex;
		justify-content: space-between;
	}

	&-container {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}


	a {
		font-size: 1.7rem;
		color: #000;
		font-family: Sofia Pro;
	}
}

